body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Para que todos los elementos tengan la misma altura */
}

.calculadora, .intro, .pasos {
    flex: 1; /* Para que ocupen el mismo espacio y tengan la misma altura */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculadora {
    background-color: #d0d0d0;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clave span {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-color: black;
    color: rgb(255, 0, 0);
    font-size: 30px;
    border: 1px solid rgb(255, 0, 0);
    justify-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
    line-height: 65px; /* Ajustar el centrado vertical */
}

#contador {
    font-size: 40px;
    margin-bottom: 20px;
}

#botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    margin-bottom: 20px;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 5px;
}


button.numero#btn0 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    
}

#control {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

button#start,
button#stop,
button#reset {
    background-color: red;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
}

.intro, .pasos {
    background-color: #d0d0d0;
    border: 2px solid black;
    color: rgb(255, 0, 0);
    font-size: 30px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.pasos h2 {
    text-align: center; /* Centrar el texto del encabezado */
}

.pasos ol {
    text-align: left; /* Justificar la lista a la izquierda */
}


.intro h2, .pasos h2 {
    margin-top: 0;
}

.intro p {
    margin-bottom: 0;
}

.pasos ol {
    margin-top: 0;
    padding-left: 20px;
}

.recomendacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center; 
    font-size: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    .intro,
    .pasos,
    .calculadora {
        margin-bottom: 20px;
    }

    .calculadora {
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
    }

    .numero {
        width: 25%;
        font-size: 16px;
    }

    #control button {
        width: 30%;
    }

    header {
        text-align: center;
        padding: 10px;
    }

    #aviso-texto {
        margin: 0;
        font-size: 20px;
    }
}
