body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.white {
    background-color: rgb(255, 255, 255);
}

.grey1{
    background-color: rgb(139, 138, 138);
}

.grey2 {
    background-color: rgb(48, 47, 47);
}

.black {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.event-content {
    text-align: center;
}

.event-content h2 {
    margin-top: 0;
}

.signature-pieces img {
    width: 45%;
    margin: 5px;
    border-radius: 5px;
}

.current-state img {
    width: 30%;
    margin: 5px;
    border-radius: 5px;
}

.right {
    margin-left: auto;
}

/* Media Query para hacer el diseño responsive en dispositivos móviles */
@media only screen and (max-width: 768px) {
    .event {
        width: 100%;
    }

    .signature-pieces img,
    .current-state img {
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
    }
}
